---
import { helloWorld } from "../contracts/hello_world";
---

<html>
  <head>
    <title>Hello World</title>
  </head>
  <body>
    <h1>Check the console for a message!</h1>
    <script>
      helloWorld();
    </script>
  </body>
</html>
