---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { helloWorld } from "./hello_world.js";
import ConnectWallet from '../componentes/ConnectWallet.astro';
const greeting = "Hello, World!";
---

<html>
  <head>
    <title>Hello World</title>
  </head>
  <body>
    <h1>Check the console for a message!</h1>
    <h1>{greeting}</h1>
        <ConnectWallet /> 
   <script type="module">
      import { helloWorld } from "/hello_world.js";
      helloWorld();
    </script>
  </body>
</html>
