---
import { helloWorld } from "/hello_world.js";
---

<html>
  <head>
    <title>Hello World</title>
  </head>
  <body>
    <h1>Check the console for a message!</h1>
    <script type="module">
      import { helloWorld } from "/hello_world.js";
      helloWorld();
    </script>
  </body>
</html>